@{
    ViewData["Title"] = "Добро пожаловать";
}

<div class="page-title">Добро пожаловать</div>
<div class="information-page welcome-page">
    <p><b>OpenVK — универсальное средство поиска друзей и знакомых, основанное на классической структуре ВКонтакте.</b></p>
    <p>Мы хотим, чтобы друзья, однокурсники, одноклассники, соседи и коллеги всегда могли оставаться в контакте.</p>
    <p>С помощью этого сайта Вы можете:</p>
    <ul>
        <li><span>найти людей, с которыми когда-либо учились, работали или отдыхали;</span></li>
        <li><span>узнать больше об окружающих и найти новых друзей;</span></li>
        <li><span>общаться в личных сообщениях и сообществах;</span></li>
        <li><span>публиковать записи и делиться своим творчеством.</span></li>
    </ul>
    <a href="/about" class="tour"><b>Узнать больше об этом сайте</b><div>Статистика, информация о проекте и лицензия.</div></a>
    <div class="welcome-actions">
        <a class="button" href="/Auth/Login">Войти</a>
        <a class="button" href="/Auth/Register">Регистрация</a>
    </div>
</div>
