@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<div class="page-title">Политика конфиденциальности</div>
<article class="knowledgeBaseArticle information-page">
    <h4>Какую информацию мы собираем?</h4>
    <ul>
        <li><b>Основная информация.</b> При регистрации сохраняются имя, фамилия, адрес электронной почты и хэш пароля. Дополнительные сведения профиля пользователь заполняет добровольно.</li>
        <li><b>Записи и сообщения.</b> Отправленный контент, вложения, дата и время сохраняются на сервере. Записи являются общедоступными, личные сообщения доступны участникам соответствующего диалога.</li>
        <li><b>IP-адрес и метаданные.</b> При входе сохраняются IP-адрес и сведения о браузере, необходимые для Chandler-сессий и безопасности аккаунта.</li>
    </ul>
    <h4>Для чего используется информация?</h4>
    <ul>
        <li>для работы профилей, сообщений, групп и других функций OpenVK;</li>
        <li>для сохранения настроек и защиты пользовательских сессий;</li>
        <li>для предотвращения злоупотреблений и обхода блокировок;</li>
        <li>для восстановления доступа к аккаунту.</li>
    </ul>
    <h4>Cookies</h4>
    <p>Сайт использует cookies для авторизации, защиты запросов и сохранения настроек. Пароли хранятся только в виде стойкого одностороннего хэша.</p>
    <h4>Передача третьим лицам</h4>
    <p>Мы не продаём персональные данные. Информация может быть раскрыта только для исполнения закона, правил сайта либо защиты прав и безопасности пользователей.</p>
    <p class="document-note">Документ основан на политике конфиденциальности OpenVK и лицензирован по CC BY-SA.</p>
</article>
