@{
    ViewData["Title"] = "Правила";
}
<div class="page-title">Правила</div>
<article class="knowledgeBaseArticle information-page">
    <p>Администрация сайта разрешает Вам пользоваться сайтом на условиях, определённых в этих правилах.</p>
    <p>Делать можно всё то, что не относится к запрещённым действиям. Запрещается:</p>
    <ol>
        <li>Игнорировать настоящие правила.</li>
        <li>Отказываться от своевременного исполнения законных запросов администрации и технической поддержки.</li>
        <li>Использовать чужие страницы без разрешения владельца.</li>
        <li>Выдавать себя за другого человека с целью получения выгоды.</li>
        <li>Создавать массовые рассылки любым способом.</li>
        <li>Создавать ситуации, мешающие нормальной работе OpenVK.</li>
        <li>Публиковать или хранить содержимое, которое:
            <ol>
                <li>нарушает законодательство страны размещения сервера или страны проживания пользователя;</li>
                <li>содержит материалы сексуального характера с участием несовершеннолетних;</li>
                <li>содержит инструкции по изготовлению или рекламу запрещённых веществ;</li>
                <li>демонстрирует бесчеловечное обращение с людьми или животными;</li>
                <li>нарушает авторские, смежные или иные права;</li>
                <li>мешает другим пользователям нормально пользоваться сайтом.</li>
            </ol>
        </li>
    </ol>
    <p>Администрация рассматривает спорные ситуации, не описанные в правилах, и вправе удалить запрещённый материал, выдать предупреждение, временно или постоянно заблокировать страницу.</p>
    <p>Продолжая пользоваться сайтом, пользователь подтверждает согласие с настоящими правилами и <a href="/privacy">политикой конфиденциальности</a>.</p>
</article>
